.custom-jumbo {
            width: 100%;
            min-height: 350px;
            padding-top: 170px;
            background-color: #6b61a2;
            color: #fff;
        }

        .slide-two {
            padding: 10% 5%;
        }

        .main-heading {
            margin: 0px;
            margin-bottom: 0px;
        }

        .slide-four h2,
        .slide-two h2 {
            vertical-align: middle;
            width: 80%;
            text-align: center;
            margin: auto;
            margin-top: 0px;
        }

        .slide-four {
            padding: 4% 2%;
            background: #ffc106;
            transition: all .20s ease-in-out;
            cursor: pointer;
        }

        .slide-four:hover {
            background: #ffd039;
        }

        a.anchor {
            text-decoration: none;
            color: #000;
        }

        .text-image-container {
            width: 100%;
            padding: 3% 0% 2% 3%;
            background: #eceaf5;
        }

        .inner-container {
            width: 98%;
            margin: auto;
        }

        .text-content p {
            width: 95%;
            font-size: 18px;
            padding-top: 10%;
        }

        @media screen and (max-width:480px) {
            .slide-two h2,
            .slide-four h2 {
                font-size: 20px;
            }
            h2,
            h1 {
                font-size: 20px;
            }
        }
